<div id="character_tools_settings" class="extension_settings">
  <div class="inline-drawer">
    <div class="inline-drawer-toggle inline-drawer-header">
      <b><i class="fa-solid fa-wand-magic-sparkles"></i> Character Tools</b>
      <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
    </div>
    <div class="inline-drawer-content">
      <div class="character_tools_panel_version">
        <small class="opacity50">v{{version}}</small>
      </div>
      <!-- Quick Launch -->
      <div class="character_tools_panel_launch">
        <button id="character_tools_open_btn" class="menu_button menu_button_icon wide100p">
          <i class="fa-solid fa-rocket"></i>
          <span>Open Character Tools</span>
        </button>
      </div>

      <hr>

      <!-- Debug Toggle -->
      <div class="character_tools_panel_row">
        <label class="checkbox_label">
          <input type="checkbox" id="character_tools_debug_toggle">
          <span>Debug Mode</span>
        </label>
        <small class="opacity50">Log requests/responses to console</small>
      </div>

    </div>
  </div>
</div>
